extends layout

block content
  h1 Actors:
  div.add-actor 
    h5 Add Actor:
    form(action='/api/actors' method='post')
      label(for='name') Name: 
      input(type='text' name='name')
      label(for='age')   Age: 
      input(type='text' name='age')  
      input(type='submit')
  div.edit-actor
    h5 Edit Actor:
    form(action='/api/actors/edit' method='post')
      label(for='id') Id: 
      input(type='text' name='id')
      label(for='name')   Name: 
      input(type='text' name='name')
      label(for='age')   Age: 
      input(type='text' name='age')  
      input(type='submit')  
  div.delete-actor
    h5 Delete Actor:
    form(action='/api/actors/delete' method='post')
      label(for='id') Id: 
      input(type='number' name='id' required)
      input(type='submit')  
  br
  table(style="border-collapse: collapse; color: red")
    tr
      th#th-s Id
      th#th-m Name
      th#th-s Age
      each actor in actors
        tr
          td= actor.id
          td= actor.name
          td= actor.age