doctype html
html
  head
    title Task 04
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    style.
      body {
        padding: 50px
      }
      th, td {
        border: 2px solid green;
        padding: 10px;
      }
      #th-s {
        width: 50px
      }
      #th-m {
        width: 200px
      }
  body
    block content
    br
    hr
    footer
      p 2018