doctype html
html
  head
    title ACTORS
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    style.
      input {
        margin: 5px
      }
      body {
        padding: 30px
      }
      th, td {
        border: 2px solid green;
        padding: 10px;
      }
      .th-s {
        width: 50px
      }
      .th-m {
        width: 200px
      }
      .input-s {
        width: 60px
      }
      h5 {
        margin-top: 20px;
        margin-bottom: 0;
      }
      
  body
    block content
    br
    hr
    footer
      p(style="font-size: 14px") Stepanenko Serhiy &copy; 2018