doctype html
html
  head
    title About Page
  body
    h1 About Us!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam temporibus eos maxime voluptate eveniet, sequi, soluta dolore reiciendis commodi, voluptatem assumenda doloribus pariatur. Est officiis eius incidunt! Iure, minima at!